<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Reset Password</title>
  </head>
  <body>
    <section class="container">
      <% if (isValid) { %>
      <div class="card">
        <h1 class="heading">facebook</h1>
        <% if (error) { %>
        <div class="error">
          <p><%= error %></p>
        </div>
        <% } %>
        <form
          action="/reset-password?token=<%= token %>&email=<%= email  %>  "
          method="post"
          class="form"
        >
          <div class="form__controll">
            <label for="">Password</label>
            <input type="password" name="password" required />
          </div>
          <div class="form__controll">
            <label for="">Confirm password</label>
            <input type="password" name="confirmPassword" required />
          </div>
          <button class="button">Change Password</button>
        </form>
      </div>
      <% } else if(isSuccess) { %>
      <div class="success">
        <h1>Password updated successfully!</h1>
      </div>
      <% } else { %>

      <div class="invalide">
        <h1>😔 Token not found or may be expired!</h1>
      </div>

      <% } %>
    </section>
  </body>
</html>
